<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.github.librecut.internal.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Layout Perspective"
            class="com.github.librecut.internal.application.LayoutPerspectiveFactory"
            id="com.github.librecut.application.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.github.librecut.application.application"
            name="LibreCut">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="LibreCut">
         </property>
         <property
               name="aboutImage"
               value="icons/LibreCut.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.github.librecut.application.intro">
      </intro>
      <introProductBinding
            introId="com.github.librecut.application.intro"
            productId="com.github.librecut.application.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.github.librecut.application.intro"
            content="introContent.xml"
            id="com.github.librecut.application.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.github.librecut.application"
            name="LibreCut">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.github.librecut.internal.application.commands.OpenCutWizardHandler"
            id="com.github.librecut.application.cutwizard"
            name="Cut Wizard">
      </command>
      <command
            defaultHandler="com.github.librecut.internal.application.commands.OpenDesignHandler"
            id="com.github.librecut.application.opendesign"
            name="Open Design">
      </command>
      <command
            defaultHandler="com.github.librecut.internal.application.commands.NewLayoutHandler"
            id="com.github.librecut.application.newlayout"
            name="New Layout">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:cutter?after=actions">
         <command
               commandId="com.github.librecut.application.cutwizard"
               label="Cut..."
               style="push"
               tooltip="Starts the cutting wizard to cut the pattern with your plotter.">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:design?after=open">
         <command
               commandId="com.github.librecut.application.opendesign"
               label="Open design..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:layout?after=new">
         <command
               commandId="com.github.librecut.application.newlayout"
               label="New layout"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.librecut.internal.layouteditor.LayoutEditor"
            default="false"
            id="com.github.librecut.layouteditor"
            name="Layout Editor">
      </editor>
   </extension>
</plugin>
